{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Créer une facture</h1>

    {{ include('invoice/_form.html.twig', {
        form: form,
        button_label: 'Créer'
    }) }}

    <div class="mt-4">
        {{ include('components/buttons/_back.html.twig', {
            route: 'app_invoice_index'
        }) }}
    </div>
</div>
{% endblock %}