{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
<div class="container mt-5">

    <h1 class="mb-4">Créer une nouvelle facture</h1>

    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">

            {{ include('invoice/_form.html.twig', {
                button_label: 'Enregistrer',
                button_class: 'btn-success'
            }) }}

            <div class="mt-4">
                {{ include('components/buttons/_back.html.twig', {
                    route: 'app_invoice_index'
                }) }}
            </div>

        </div>
    </div>

</div>
{% endblock %}