{% extends 'base.html.twig' %}

{% block title %}Minifacturier{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon mini facturier</h1>
    <p>preparation pour examen CCP1 et 2</p>
{% endblock %}