{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
<div class="container text-center py-5">

    <i class="bi bi-search fs-1 text-warning mb-4"></i>

    <h1 class="mb-4">Page introuvable</h1>

    <p class="lead">
        La page demandée n’existe pas ou a été déplacée.
    </p>

    <a href="{{ path('app_home') }}" class="btn btn-primary mt-3">
        Retour à l'accueil
    </a>

</div>
{% endblock %}