{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mentions légales</h1>

    <h2 class="mt-4">Éditeur du site</h2>
    <p>
        MiniFacturier est une application réalisée dans le cadre d’un projet d’examen.
    </p>

    <p>
        Développeur : Jean-François  
        Email : contact@minifacturier.com
    </p>

    <h2 class="mt-4">Nature du projet</h2>
    <p>
        Ce site est une application pédagogique développée dans un but de démonstration
        des compétences en développement web.
    </p>

    <h2 class="mt-4">Technologies utilisées</h2>
    <p>
        Symfony · Twig · Doctrine · Bootstrap · Docker · Mailpit · Gotenberg
    </p>

    <h2 class="mt-4">Responsabilité</h2>
    <p>
        Les informations présentes sur ce site sont fournies à titre de démonstration.
        et générées par Mockaroo et aucune garantie n’est apportée quant à leur exactitude ou leur similtude avec des personnes physiques ou objet de catalogue existants.
    </p>
</div>
{% endblock %}