{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block main_class %}container-fluid px-0 pt-4 pb-0{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/customer.css') }}">
{% endblock %}

{% block body %}
<section class="customer-form-section">

    <div class="customer-form-card">

        <h1 class="mb-4">Créer un nouveau client</h1>

        {{ include('customer/_form.html.twig', {
            button_label: 'Enregistrer',
            button_class: 'btn-success'
        }) }}

        <div class="mt-4">
            {{ include('components/buttons/_back.html.twig', {
                route: 'app_customer_index'
            }) }}
        </div>

    </div>

</section>
{% endblock %}