{% extends 'base.html.twig' %}

{% block title %}Détail client{% endblock %}

{% block body %}
<div class="container mt-5">

    <h1 class="mb-4">Détail client</h1>

    {{ include('components/identity/_person_info.html.twig', {
        id: customer.id,
        lastName: customer.lastNameCustomer,
        firstName: customer.firstNameCustomer,
        phone: customer.phoneCustomer
    }) }}

    <div class="d-flex justify-content-between mb-5">
        {{ include('components/buttons/_back.html.twig', {
            route: 'app_customer_index'
        }) }}

        <div>
            {{ include('components/buttons/_edit.html.twig', {
                route: 'app_customer_edit',
                id: customer.id
            }) }}

            {{ include('components/buttons/_delete.html.twig', {
                route: 'app_customer_delete',
                id: customer.id
            }) }}
        </div>
    </div>

    {# le reste de la page... #}

</div>
{% endblock %}