<div class="d-flex gap-2">
    {{ include('components/buttons/_back.html.twig', {
        route: 'app_catalog_index'
    }) }}

    {{ include('components/buttons/_edit.html.twig', {
        route: 'app_product_edit',
        id: product.id
    }) }}
</div>