{% set nextPage = pagination.currentPageNumber < pagination.pageCount
    ? pagination.currentPageNumber + 1
    : 1 %}

<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': nextPage})) }}"
class="btn btn-success btn-sm btn-pagination">
    <i class="fa-solid fa-arrow-right"></i>
</a>