{% if pagination.currentPageNumber < pagination.pageCount %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.currentPageNumber + 1})) }}"
    class="btn btn-outline-primary d-flex align-items-center gap-2">
        Suivant
        
    </a>
{% else %}
    <button class="btn btn-outline-secondary d-flex align-items-center gap-2" disabled>
        Suivant
        
    </button>
{% endif %}