{% if pagination.currentPageNumber > 1 %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.currentPageNumber - 1})) }}"
    class="btn btn-outline-dark d-flex align-items-center gap-2">
        Précédent
    </a>
{% else %}
    <button class="btn btn-outline-dark d-flex align-items-center gap-2" disabled>
        Précédent
    </button>
{% endif %}