{% set prevPage = pagination.currentPageNumber > 1
    ? pagination.currentPageNumber - 1
    : pagination.pageCount %}

<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': prevPage})) }}"
   class="btn btn-outline-dark d-flex align-items-center gap-2">
    ← Précédent
</a>