<div class="border rounded-3 p-3 mb-4 shadow-sm">
    <h2 class="h5 mb-3">
        {{ lastName|upper }} {{ firstName }}
    </h2>

    <p class="mb-1">
        <strong>Id :</strong> {{ id }}
    </p>

    <p class="mb-0">
        <strong>Téléphone :</strong> {{ phone }}
    </p>
</div>