{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block main_class %}container-fluid px-0 pt-4 pb-0{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/product.css') }}">
{% endblock %}

{% block body %}
<section class="product-form-section">

    <div class="product-form-card">

        <h1 class="mb-4">Ajouter un produit</h1>

        {{ include('product/_form.html.twig', {
            form: form,
            button_label: 'Créer'
        }) }}

    </div>

</section>
{% endblock %}