{% extends 'base.html.twig' %}

{% block title %}Détail vendeur{% endblock %}

{% block body %}
<div class="container mt-5">

    <h1 class="mb-4">Détail vendeur</h1>

    {{ include('components/identity/_person_info.html.twig', {
        id: seller.id,
        lastName: seller.lastNameSeller,
        firstName: seller.firstNameSeller,
        phone: seller.phoneSeller
    }) }}

    <div class="d-flex justify-content-between mb-5">
        {{ include('components/buttons/_back.html.twig', {
            route: 'app_seller_index'
        }) }}

        <div>
            {{ include('components/buttons/_edit.html.twig', {
                route: 'app_seller_edit',
                id: seller.id
            }) }}

            {{ include('components/buttons/_delete.html.twig', {
                route: 'app_seller_delete',
                id: seller.id
            }) }}
        </div>
    </div>

    

</div>
{% endblock %}