@media print {

    body * {
        visibility: hidden;
    }

       .page, .page * {
        visibility: visible;
    }

    .page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

        .no-print {
        display: none !important;
    }
}