<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MiniFacturier{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://s3.unistra.fr/master/common/assets/fonts/fontawesome/4.7.0/css/font-awesome.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=snnhBqegenRmkB3%2F8aGO0MmaQiU%3D&Expires=1887617417&Signature=GiTaEy%2B5EOD7Gy%2FXzs2g0Mfc4tg%3D&Expires=1870971370">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {% include 'components/navbar.html.twig' %}

    <main class="container py-4">
        {% block body %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>