<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MiniFacturier{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    {% block stylesheets %}{% endblock %}
</head>

<body class="d-flex flex-column vh-100">

    {% include 'components/navbar.html.twig' %}

    <main class="container flex-grow-1 overflow-auto py-3 mt-5 pt-3">
        {% block body %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}

    {# ===== MODAL flash ===== #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="modal fade" id="flashModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header
                            {% if label == 'success' %}
                                bg-success text-white
                            {% elseif label == 'danger' %}
                                bg-danger text-white
                            {% else %}
                                bg-secondary text-white
                            {% endif %}
                        ">
                            <h5 class="modal-title">
                                {% if label == 'success' %}
                                    Succès
                                {% elseif label == 'danger' %}
                                    Erreur
                                {% else %}
                                    Information
                                {% endif %}
                            </h5>

                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            {{ message }}
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Fermer
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        <script src="{{ asset('js/base.js') }}"></script>
        <script src="{{ asset('js/stats.js') }}"></script>
        {% endfor %}
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    {% block javascripts %}{% endblock %}

</body>
</html>