{% extends 'base.html.twig' %}

{% block title %}Page en cours de développement{% endblock %}

{% block body %}
<div class="container mt-5 text-center">

    <h1 class="mb-4"> Page en cours de développement</h1>

    <p class="lead">
        Cette fonctionnalité sera bientôt disponible.
    </p>

    <p class="text-muted mb-4">
        Merci de votre patience 
    </p>

    <a href="{{ path('app_home') }}" class="btn btn-primary">
        Retour à l'accueil
    </a>

</div>
{% endblock %}